<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        



    </style>




</head>
<body>
    <h3>Product List</h3>
    <div>
        <th>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </th>
        {% for product in product%}
        <div>
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <p>{{product.price}}</p>
            <a href="{% url 'product_detail_view' id=product.id %}">View Product</a>

        </div>
        {% endfor %}
    </div>
</body>
</html>