<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link ref="stylesheet" href="{% static 'Css/product_details.css' %}"/>
    <title>Product Details</title>
<body>
    <h4>{{product.name}}</h4>
    <img src="{{product.image.url}}">
    <p>{{product.description}}</p>
    <p>{{product.price}}</p>
    <a href="{% url 'cart_list' %}"><button class="add-to-cart-btn">Add to cart</button></a>
    <button class="add-to-cart-btn">Delete from Cart</button>   
    
    
   
</body>
</html>