<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .image{
        padding: 10px;
        margin: 5px;
        display: grid;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        }
    </style>
</head>
<body>
    <h3> cart list </h3>
    <ul >
        {% for cart_item in cart_items %}
        <li>
            {% if cart_item.image %}
            <img class="image" src="{{cart_item.image.url}}" alt="Image"/> <br>
            {% else %}
            No Image Available
        {% endif %}
              Name: {{ cart_item.name }} <br>
              Quantity: {{ cart_item.quantity_of_items}}  <br>
              Price: ${{ cart_item.price }} <br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>